<button *ngIf="!currentQuestion" (click)="onQuestion()">Any questions?</button>
<button (click)="onEndLecture()">End lecture</button>
<div *ngIf="currentQuestion">
    <label>{{currentQuestion.question}}</label>
    <input #answer>
    <button (click)="onAnswer(answer.value)">Answer</button>
    <div *ngIf="!alreadyVoted">
        <label>How did you like the question?</label>
        <button (click)="like(1)">😊</button>
        <button (click)="like(-1)">😕</button>
    </div>
</div>
<app-question-template *ngIf="showQuestionTemplate" [pubId]="publicationId" (submitQuestion)="quit($event)">
</app-question-template>