<div class="container">
    <img class="bg" src="assets/arenabg.png">
    <div class="rankings_list">

        <h2></h2>
        <div class="list_bg">
            <ul class="masters">
                <li *ngFor="let master of masters" >
                    <img src="assets/{{master.pic}}">
                    <button mat-button disabled="!isMasterAvailable(master)" *ngIf="isMasterAvailable(master)" (click)="onSelect(master)">{{master.name}}</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="selected_master" *ngIf="selectedMaster">
        <h2>{{selectedMaster.name | uppercase}} Details</h2>
        <div><span>name: </span>{{selectedMaster.name}}</div>
    </div>
</div>