<div class="container">
    <img class="bg" src="assets/arenabg.png">
    <img #tank class="tank" src="assets/chi-tank/tank-empty.png">
    <div *ngIf="!fightOn" class="rankings_list">
        <div class="list_bg">
            <ul class="masters">
                <li *ngFor="let master of masters" >
                    <img src="assets/{{master.pic}}">
                    <span mat-button *ngIf="!isMasterAvailable(master)">{{master.name}}</span>
                    <a mat-button *ngIf="isMasterAvailable(master)" (click)="onSelect(master)">{{master.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<app-fight (onTank)="tankChanged($event)" *ngIf="fightOn" [master]="selectedMaster"></app-fight>