.container{
    position: relative;
    height: 80%;
}
.bg{
    position: absolute; 
    top: 2%; 
    left: 2%;
    right: 2%;
    bottom: 2%; 
    
}
.list_bg{
    position: absolute;
    background-image: url('/assets/arena_list_bg.jpg');
    margin-top:25%;
    border-radius: 1rem;
}
.rankings_list{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top:auto;
    width:13rem;
    z-index: 2;
    
}

.masters {
    margin: 2rem 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }

  .masters li {
    margin:1rem;
  }
  
  li  img{
    display: inline-block;
    vertical-align: middle;
    max-width: 25%;
    max-height: 25%;
  }

  li span{
    padding:16px;
  }

  app-fight{
    z-index: 2;
  }