<div class="container">
    <img  src="assets/background.png">
    <!--<a class="gym_btn"  mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/gym">Gym</a> -->
    <a class="library_btn" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/library">Library</a>
    <!-- <a class="arena_btn"  mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/arena">Arena</a> -->
    <button mattButton class="city_btn"  mat-flat-button color=primary routerLinkActive="mat-accent" >City</button>
    <!-- <a class="mountains_btn"  mat-flat-button color=primary routerLinkActive="mat-accent">Docks</a> -->
</div>
