<div class="container">
    <img  src="assets/background.png">
    <a class="gym_btn"  mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/gym">Gym</a>
    <a class="library_btn" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/library">Library</a>
    <a class="arena_btn"  mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/arena">Arena</a>
    <a class="city_btn"  mat-flat-button color=primary routerLinkActive="mat-accent">City</a>
    <a class="mountains_btn"  mat-flat-button color=primary routerLinkActive="mat-accent">Mountains</a>
</div>
