<div *ngIf="!loggedIn">
    <mat-toolbar color="primary">
        <a mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/login">Log in</a>
        <a mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/signup">Sign up</a>
    </mat-toolbar>
</div>
<div class="navbar" *ngIf="loggedIn">
    <a mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/publication">Publications</a>
    <a (click)="onPollyClicked()"><img class="icon" src='../../assets/header/pollyicon.jpg'></a>
    <a (click)="logout()"><img class="icon" src='../../assets/header/logout.png'></a>
</div>