<div *ngIf="!(loggedIn$ | async)">
    <mat-toolbar color="primary">
        <a mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/login">Login</a>
        <a mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/signup">Sign up</a>
    </mat-toolbar>
</div>
<div class="navbar" *ngIf="loggedIn$ | async ">
    <a *ngIf="warningNoChar" routerLink="/character-selector" >Register a character!</a>
    <a *ngIf="warningCharConfirmed" routerLink="/intro" >Your current character has yet to take their final exam!</a>
    <a mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/publication">Publications</a>
    <a mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/character-selector">Characters</a>
    <a *ngIf="char" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/character-details" >{{char.name}}</a>
    <a (click)="onPollyClicked()"><img class="icon" src='../../assets/header/pollyicon.jpg'></a>
    <a (click)="logout()"><img class="icon" src='../../assets/header/logout.png'></a>
</div>