<div class="container">
    <img src="assets/menu.png">
    <nav >
        <button class="learn_btn">Attack</button>
        <button class="practice_btn">Meditate</button>
        <button class="overdue_btn">Skills</button>
        <button class="leave_btn" >Items</button>
    </nav>
    <div class="questions">
        <div style="text-align: center;" *ngIf="sentence">
            <label>{{sentence.english}}</label>
        </div>
        <div style="text-align: center;">
            <input #input>
        </div>
        <div style="text-align: center;">
            <button [disabled]="!sentence || count==1" (click)="check()">Check</button>
            <button [disabled]="count==0" (click)="attack()">Attack</button>
        </div>

    </div> 
</div>
