<div class="container">
    <img src="assets/menu.png">
    <app-level-tree class="level_tree" *ngIf="showLeverTree"></app-level-tree>
    <div  class="questions" *ngIf="quizInProgress">
        <div style="text-align: center;" *ngIf="sentence">
            <label>{{sentence.english}}</label>
        </div>
        <div style="text-align: center;" *ngIf="!sentence">
            <label>Choose a category</label>
        </div>
        <div style="text-align: center;">
            <input #input>
        </div>
        <div style="text-align: center;">
            <button [disabled]="!sentence" (click)="check()">Check</button>
        </div>
    </div>
</div>

