.container{
    position: relative;
}

.first_btn{
    position: absolute;
    top: 7rem;
    left: 10rem;
    cursor: pointer;
}

.second_btn{
    position: absolute;
    top: 9rem;
    left: 10rem;
    cursor: pointer;
}

.third_btn{
    position: absolute;
    top: 11rem;
    left: 10rem;
    cursor: pointer;
}

.leave_btn{
    position: absolute;
    top: 13rem;
    left: 10rem;
    cursor: pointer;
}
.questions{
    position: absolute;
    top: 10rem;
    left: 45rem;
    cursor: pointer;
}
.level_tree{
    position: absolute;
    top: 5rem;
    left: 25rem;
    width:60%;
    cursor: pointer;
}