<div class="container">
    <img src="assets/menu.png">
    <nav *ngIf=isLibrary()>
        <button class="first_btn" (click)="learn()" [disabled]="isPromotionDue">Translate</button>
        <button class="second_btn">Study</button>
        <button class="third_btn">Write</button>
        <button class="leave_btn" (click)="onLeave()" >Leave</button>
    </nav>
    <nav *ngIf="isGym()">
        <button class="first_btn" [disabled]="overduePractice || trainingInProgress" (click)="practice()">Practice</button>
        <button class="second_btn" [disabled]="!overduePractice || trainingInProgress" (click)="practiceOverdue()">Practice overdue Sentences</button>
        <button class="leave_btn" (click)="onLeave()" >Leave</button>
    </nav>
    <app-level-tree class="level_tree" *ngIf="practiceClicked "></app-level-tree>
    <div  class="questions" *ngIf="trainingInProgress">
        <div style="text-align: center;" *ngIf="sentence">
            <label>{{sentence.english}}</label>
        </div>
        <div style="text-align: center;" *ngIf="!sentence">
            <label>Choose a category</label>
        </div>
        <div style="text-align: center;">
            <input #input>
        </div>
        <div style="text-align: center;">
            <button [disabled]="!sentence" (click)="check()">Check</button>
        </div>
    </div>
</div>

