<div class="container">
    <div  class="questions" *ngIf="quizInProgress || fightInProgress">
        <div style="text-align: center;" *ngIf="sentence">
            <label>{{displayedSentence}}</label>
        </div>
        <div style="text-align: center;">
            <input #input>
        </div>
        <div style="text-align: center;">
            <button *ngIf="quizInProgress" [disabled]="!sentence" (click)="checkQuiz()">Check</button>
            <button *ngIf="fightInProgress" [disabled]="!sentence" (click)="checkFight()">Check</button>
        </div>
    </div>
    <div *ngIf="flashCardsInProgress">
        <div style="text-align: center;" *ngIf="sentence">
            <label>{{displayedSentence}}</label>
        </div>
        <div style="text-align: center;">
            <button  (click)="previousCard()"><<</button>
            <button  (click)="flipCard()">Flip card</button>
            <button  (click)="nextCard()">>></button>
        </div>
        <div style="text-align: center;">
            <button (click)="stopFlashCards()">Quit flashcards</button>
        </div>
    </div>
</div>

