<app-gym *ngIf="showGym" [enemy]="enemy" [socket]="socket" (fightFinishedEmitter)="fightFinished()"></app-gym>
<div *ngIf="!showGym">
    <div *ngIf="!hasTicket">
        <!-- means it is a fresh registration -->
        <button *ngIf="isBeginner" (click)="onNotes()">Check notes</button>
        <button *ngIf="!isBeginner || notesChecked" (click)="onTakeExam()">Take exam</button>
        <p *ngIf="scroll$ | async as scroll">{{scroll.grammar}}</p>
    </div>
    <div *ngIf="hasTicket">
        <div *ngIf="onlineUsers">
            <label>Online users</label>
            <div *ngFor="let player of onlineUsers">
                <button *ngIf="player.userName!=user.userName" (click)="onChallenge(player)">{{player.userName}}</button>
            </div>
            <br>
        </div>
        <button (click)="enterGym()">Enter Gym</button>
        <button (click)="leave()">Leave</button>
    </div>
</div>

<div class="tw"></div>