<app-gym *ngIf="showGym" [enemy]="enemy" [char]="char" [socket]="socket" [isExam]="isExam" (fightFinishedEmitter)="fightFinished($event)"></app-gym>
<div *ngIf="!showGym">
    <div>
        <div *ngIf="onlineUsers">
            <label>Online users</label>
            <div *ngFor="let player of onlineUsers">
                <button *ngIf="player[0]!=onlineUser.userName" (click)="onChallenge(player)">{{player[0]}}</button>
            </div>
            <br>
        </div>
        <button *ngIf="isReadyForExam" (click)="takeExam()">Take exam</button>
        <button (click)="leave()">Leave</button>
    </div>
</div>

<div class="tw"></div>