<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign up</mat-card-title>
      </mat-card-header>
  
      <form (submit)="onSignUp(signupForm)" #signupForm="ngForm" class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input ngModel name="email" #emailInput="ngModel" matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input  type="password"  ngModel name="password" #passwordInput="ngModel" matInput placeholder="Password">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input ngModel name="fightername" #fighternameInput="ngModel" matInput placeholder="Creature name">
          </mat-form-field>
          <div class="image-selector">
            <button type="button" (click)="previousPic()"><<</button>
            <img class="monster-pic" src='../../../assets/{{imagePath}}.jpg'>
            <button type="button" (click)="nextPic()">>></button>
          </div>
          <mat-radio-group [(ngModel)]="language" name="mi">
            <mat-radio-button *ngFor="let language of languages" [value]="language">{{language}}</mat-radio-button>
          </mat-radio-group>
        </mat-card-content>
        <label>Are you a beginner at this language?</label>
        <br>
        <mat-radio-group (change)="isBeginner($event)">
          <mat-radio-button value="true" >Yes</mat-radio-button>
          <mat-radio-button value="false" >No</mat-radio-button>
        </mat-radio-group>
        <button mat-stroked-button color="accent" class= "btn-block">Sign in</button>
      </form>
    </mat-card>
  
  </div>