<div *ngIf="numberOfPublications>-1">
    <label> {{numberOfPublications}} / 10</label>
    <div *ngIf="numberOfPublications<10">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" required ngModel>
            </div>
            <div class="form-group">
                <label for="level">Level</label>
                <select class="form-control" id="level" required name="level" ngModel>
                    <option *ngFor="let level of levels" [value]="level">{{ level }}</option>

                </select>
            </div>
            <textarea rows="4" cols="50" id="text" name="text" ngModel required
                placeholder="Write your story here!"> </textarea>
            <br>
            <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Submit</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <mat-radio-group>
        <mat-radio-button (change)="onRadioChange($event)" value="reviewbereit">Waiting for review</mat-radio-button>
        <mat-radio-button (change)="onRadioChange($event)" value="defendbereit">Ready to defend</mat-radio-button>
        <mat-radio-button (change)="onRadioChange($event)" value="published">Published</mat-radio-button>
    </mat-radio-group>
    <div *ngIf="radioBtnSelected">
        <div *ngFor="let pub of pubs$ | async">
            <button>{{pub.title}}</button>
            <br>
            <br>
        </div>
    </div>
</div>