<div class="row">
    <app-own-pub class="column"></app-own-pub>
    <div class="column">
        <mat-radio-group>
            <mat-radio-button (change)="onRadioChange($event)" value="not reviewed">Not yet reviewed</mat-radio-button>
            <mat-radio-button (change)="onRadioChange($event)" value="reviewed">Reviewed</mat-radio-button>
            <mat-radio-button (change)="onRadioChange($event)" value="archived">Archived</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="radioBtnSelected">
            <p *ngIf="!(readyToTeach$ | async)">{{minutesUntilReady}} minutes left until ready to teach</p>

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by author or title">
            </mat-form-field>
            <mat-table matSort [dataSource]="dataSource">

                <ng-container matColumnDef="author">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Author </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="title">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Title </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                </ng-container>

                <ng-container *ngIf="radioBtnSelected=='r' || radioBtnSelected =='nr'" matColumnDef="numberOfQuestions">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Number of questiosn </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.numberOfQuestions}} </mat-cell>
                </ng-container>

                <ng-container *ngIf="radioBtnSelected=='nr'" matColumnDef="dateOfPublish">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Submitted </mat-header-cell>
                    <mat-cell title='{{element.dateOfPublish|timelefttitle}}' *matCellDef="let element"> {{element.dateOfPublish | dateAgo | timeleft }} </mat-cell>
                </ng-container>

                <ng-container *ngIf="radioBtnSelected=='r'" matColumnDef="dateOfPublish">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Published </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.dateOfPublish | dateAgo }} </mat-cell>
                </ng-container>

                <ng-container *ngIf="radioBtnSelected=='r'" matColumnDef="dateOfLastLecture">
                    <mat-header-cell mat-sort-header *matHeaderCellDef> Last lecture </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.dateOfLastLecture | dateAgo}} {{element.dateOfLastLecture | money}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>

<app-question-template *ngIf="newQ" [pubId]="currentPub._id" (submitQuestion)="onSubmitQ($event)">
</app-question-template>