<div class="row">
    <app-own-pub class="column"></app-own-pub>
    <div class="column">
        <mat-radio-group >
            <mat-radio-button (change)="onRadioChange($event)" value="not reviewed">Not yet reviewed</mat-radio-button>
            <mat-radio-button (change)="onRadioChange($event)" value="reviewed">Reviewed</mat-radio-button>
            <mat-radio-button (change)="onRadioChange($event)" value="archived">Archived</mat-radio-button>
        </mat-radio-group>
        <div *ngIf = "pubType">
            <button *ngFor="let pub of pubs$ | async" (click)="onPubClick(pub)">{{pub.title}}</button>
            </div>
        </div>
    </div>
