<div class="row">
    <app-own-pub class="column"></app-own-pub>
    <div class="column">
        <mat-radio-group>
            <mat-radio-button (change)="onRadioChange($event)" value="not reviewed">Not yet reviewed</mat-radio-button>
            <mat-radio-button (change)="onRadioChange($event)" value="reviewed">Reviewed</mat-radio-button>
            <mat-radio-button (change)="onRadioChange($event)" value="archived">Archived</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="radioBtnSelected">
            <p *ngIf="!(readyToTeach$ | async)">{{minutesUntilReady}} minutes left until ready to teach</p>
            <!--   <mat-accordion>
                <mat-expansion-panel *ngFor="let pub of pubs$ | async" >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{pub.title}} (Questions: {{pub.numberOfQuestions}} )
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{pub.text}}</p>
               
                    <button *ngIf='!pub.reviewed' (click)="onAddQuestion(pub)">Add new question</button>
                    <button *ngIf='pub.reviewed' [disabled]="!teachButtonOn"  (click)="onTeach(pub)">Teach</button>
         
                </mat-expansion-panel>
            </mat-accordion> -->
            <table mat-table matSort [dataSource]="pubs$ | async">

                <ng-container matColumnDef="author">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Author </th>
                    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                
                <ng-container *ngIf="radioBtnSelected>1" matColumnDef="questions">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Number of questiosn </th>
                    <td mat-cell *matCellDef="let element"> {{element.numberOfQuestions}} </td>
                </ng-container>

                <ng-container *ngIf="radioBtnSelected>1" matColumnDef="published">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Published </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateOfPublish}} </td>
                </ng-container>

                <ng-container *ngIf="radioBtnSelected>2" matColumnDef="lastlecture">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Last lecture </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateOfLastLecture}} </td>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

            </table>
        </div>
    </div>
</div>

<app-question-template *ngIf="newQ" [pubId]="currentPub._id" (submitQuestion)="onSubmitQ($event)">
</app-question-template>