<mat-toolbar color="primary">
    <a *ngIf="userName" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/gym">Gym</a>
    <a *ngIf="userName" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/library">Library</a>
    <a *ngIf="!userName" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/login">Log in</a>
    <a *ngIf="!userName" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/sign-up">Sign up</a>
</mat-toolbar>
<p *ngIf="userName">Hello {{userName}}</p>
<router-outlet></router-outlet>