<mat-toolbar color="primary">
    <a *ngIf="loggedIn" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/gym">Gym</a>
    <a *ngIf="loggedIn" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/library">Library</a>
    <a *ngIf="!loggedIn" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/login">Log in</a>
    <a *ngIf="!loggedIn" mat-flat-button color=primary routerLinkActive="mat-accent" routerLink="/sign-up">Sign up</a>
</mat-toolbar>

<router-outlet></router-outlet>