.container{
  position: relative;
}
.dropdown_menu{
  position: absolute;
  top:1rem;
  left:20rem;
}
div.scrollmenu {
  position: absolute;
  top:5rem;
  left:12rem;
  width: 50%;
  margin: auto;
  overflow: auto;
  white-space: nowrap;
}
mat-button-toggle{
  margin:1rem;
  border-radius: 1rem;
}

div.scrollmenu a:hover {
  background-color: #777;
}