<img src='../../assets/places/{{background}}.png'>
<br>
<div  *ngIf="onWorldMap">
    <div *ngFor = "let place of places">
        <button (click)="showQuest(place)">{{place}}</button>
    </div>
    <a routerLink="/shop">Shop</a>
    <a routerLink="/">Return</a>
</div>
<br>
<button *ngIf="!onWorldMap" (click)="setDistrict()">Return</button>
<div *ngIf="script">
    <p>{{script.eventText}}</p>
    <button (click)="onAccept()">Accept</button>
    <button (click)="clearData()">Decline</button>
</div>
<div class="tw"></div>
<app-quiz *ngIf="startQuiz" (exitQuizEmitter)="clearData()" [script]="script" [overdueSentences]="overdueSentences$ | async"></app-quiz>