<img src='../../assets/town/{{background}}.JPG'>
<br>
<div  *ngIf="!showQuestDialouge && !script">
    <button (click)="showQuest('suburb')">Suburbs</button>
    <button (click)="showQuest('downtown')">Downtown</button>
    <button (click)="showQuest('meadow')">Meadow</button>
    <button (click)="showQuest('outside')">Outside</button>
    <button (click)="showQuest('palace')">Palace</button>
    <button (click)="showQuest('docks')">Docks</button>
    <a routerLink="/shop">Shop</a>
    <a routerLink="/">Return</a>
</div>
<br>
<button *ngIf="returnAvailable" (click)="setDistrict('whatever')">Return</button>
<div *ngIf="script && showQuestDialouge">
    <p>{{script.eventText}}</p>
    <button (click)="onAccept()">Accept</button>
    <button (click)="clearData()">Decline</button>
</div>
<div class="tw"></div>
<app-quiz *ngIf="startQuiz" (exitQuizEmitter)="clearData()" [script]="script" [overdueSentences]="overdueSentences$ | async"></app-quiz>