<p>gym works!</p>
<mat-radio-group [disabled]="spellType" [selected]="selectedButton" (change)="spellTypeChange($event)">
    <mat-radio-button value="fire">fire</mat-radio-button>
    <mat-radio-button value="water" >water</mat-radio-button>
    <mat-radio-button value="earth" >earth</mat-radio-button>
</mat-radio-group>
<app-quiz *ngIf="quizType" [quizType]="quizType" (fightQuizResult)="quizResult($event)"></app-quiz>
<div *ngIf="miss">{{cooldown}}</div>
<button *ngIf="readyToAttack" (click)="attack()">Cast!</button>