<div *ngFor="let char of charList$ | async ">
  <p>{{char.name}}</p>
  <button *ngIf = "char._id != (user$ | async).currentCharacter" (click)="onSelectChar(char._id)">Select </button>
  <button *ngIf = "char._id != (user$ | async).currentCharacter" (click)="onDeleteChar(char._id)">Delete </button>
</div>
<button *ngIf="!createCharacterClicked" (click)="onCreate()">Create new character</button>
<div *ngIf="createCharacterClicked">
  <form (submit)="finishCharacter(signupForm)" #signupForm="ngForm" class="example-form">
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input ngModel name="characterName" #fighternameInput="ngModel" matInput placeholder="Creature name">
      </mat-form-field>
      <div class="image-selector">
        <button type="button" (click)="previousPic()"><< </button>
            <img class="monster-pic" src='../../assets/{{imagePath}}.jpg'>
            <button type="button" (click)="nextPic()"> >> </button>
      </div>
      <mat-radio-group [(ngModel)]="language" name="mi">
        <mat-radio-button *ngFor="let language of languages" [value]="language">{{language}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <button mat-stroked-button color="accent" class="btn-block">Create</button>
  </form>
</div>