<div class="container">
    <img src="assets/background.png">
    <div *ngIf="loggedIn">
        <div *ngIf="hasCharacter">
            <a class="library_btn" mat-flat-button color=primary routerLinkActive="mat-accent"
                routerLink="/library">Library</a>
            <button mattButton class="city_btn" mat-flat-button color=primary routerLinkActive="mat-accent"
                routerLink="/city">City</button>
            <button (click)="toTheCapital()">Capital</button>
        </div>
    </div>
</div>